API_PORT=5174
WEB_ORIGIN=http://127.0.0.1:5173
VITE_API_BASE=http://127.0.0.1:5174
APP_SECRET=replace-with-a-long-random-secret

# Fill these after creating an app in Baidu Marketing developer platform.
BAIDU_CLIENT_ID=
BAIDU_CLIENT_SECRET=
BAIDU_REDIRECT_URI=http://127.0.0.1:5174/api/baidu/callback
BAIDU_AUTH_BASE=https://openapi.baidu.com/oauth/2.0/authorize
BAIDU_TOKEN_URL=https://openapi.baidu.com/oauth/2.0/token
